In [3]:
import pandas as pd

In [7]:
df = pd.read_csv(r'C:\Users\DHRUV\OneDrive\Desktop\Learnbay\Business Casse Study\Finance Module Project\Data\Raw\Training Data.csv')

In [8]:
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [12]:
df.isnull().sum()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252000 entries, 0 to 251999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 252000 non-null  int64
 1   Income             252000 non-null  int64
 2   Age                252000 non-null  int64
 3   Experience         252000 non-null  int64
 4   Married/Single     252000 non-null  object
 5   House_Ownership    252000 non-null  object
 6   Car_Ownership      252000 non-null  object
 7   Profession         252000 non-null  object
 8   CITY               252000 non-null  object
 9   STATE              252000 non-null  object
 10  CURRENT_JOB_YRS    252000 non-null  int64
 11  CURRENT_HOUSE_YRS  252000 non-null  int64
 12  Risk_Flag          252000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 25.0+ MB

In [ ]:
# ...existing code...
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
import joblib

def build_random_forest(preprocessor, n_estimators: int = 200, max_depth: int | None = None,
                        random_state: int = 42, n_jobs: int = -1):
    clf = RandomForestClassifier(
        n_estimators=n_estimators,
        max_depth=max_depth,
        random_state=random_state,
        n_jobs=n_jobs
    )
    return Pipeline([("preprocessor", preprocessor), ("clf", clf)])

def build_logistic_regression(preprocessor, C: float = 1.0, max_iter: int = 1000, random_state: int = 42):
    clf = LogisticRegression(C=C, max_iter=max_iter, random_state=random_state)
    return Pipeline([("preprocessor", preprocessor), ("clf", clf)])

def train_model(model, X_train, y_train):
    """Fit the pipeline and return the fitted pipeline."""
    model.fit(X_train, y_train)
    return model

def save_model(model, path):
    joblib.dump(model, path)

def load_model(path):
    return joblib.load(path)
# ...existing code...

In [1]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-3.1.2-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\dhruv\onedrive\desktop\learnbay\business casse study\finance module project\.venv\lib\site-packages (from xgboost) (2.3.5)
Requirement already satisfied: scipy in c:\users\dhruv\onedrive\desktop\learnbay\business casse study\finance module project\.venv\lib\site-packages (from xgboost) (1.16.3)
Downloading xgboost-3.1.2-py3-none-win_amd64.whl (72.0 MB)
   ---------------------------------------- 0.0/72.0 MB ? eta -:--:--
   --- ------------------------------------ 6.0/72.0 MB 34.1 MB/s eta 0:00:02
   -------- ------------------------------- 14.7/72.0 MB 38.5 MB/s eta 0:00:02
   ------------ --------------------------- 22.3/72.0 MB 37.8 MB/s eta 0:00:02
   -------------- ------------------------- 26.5/72.0 MB 33.3 MB/s eta 0:00:02
   ---------------- ----------------------- 29.6/72.0 MB 29.3 MB/s eta 0:00:02
   ------------------ --------------------- 34.1/72.0 MB 27.9 MB/s eta 0:00:02
   --------------------- ------------------ 39.1/72.0 MB 27.3 MB/s eta 0:00:02
   ------------------------ --------------- 44.6/72.0 MB 26.9 MB/s eta 0:00:02
   --------------------------- ------------ 49.5/72.0 MB 26.8 MB/s eta 0:00:01
   ------------------------------ --------- 55.6/72.0 MB 26.8 MB/s eta 0:00:01
   ---------------------------------- ----- 61.6/72.0 MB 27.1 MB/s eta 0:00:01
   ------------------------------------- -- 67.9/72.0 MB 27.4 MB/s eta 0:00:01
   ---------------------------------------  71.8/72.0 MB 27.2 MB/s eta 0:00:01
   ---------------------------------------  71.8/72.0 MB 27.2 MB/s eta 0:00:01
   ---------------------------------------- 72.0/72.0 MB 24.5 MB/s  0:00:02
Installing collected packages: xgboost
Successfully installed xgboost-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip